{% assign errors = changeset.errors %}
{% assign payload = changeset.payload %}

<h1>Add Product</h1>

<form url="/products" method="POST">

  <p>
    <label for="product_title">
      Title
    </label>
    <input type="text" name="product[title]" id="product_title" value={{ payload.title }} />
    {% if errors['title'] %}
      <span>{{ errors['title'] }}</span>
    {% endif %}
  </p>

  <p>
    <label for="product_price">
      Price
    </label>
    <input type="text" name="product[price]" id="product_price" value={{ payload.price }} />
    {% if errors['price'] %}
      <span>{{ errors['price'] }}</span>
    {% endif %}
  </p>
  {% if errors['main'] %}
    <p>{{ errors['main'] }}</p>
  {% endif %}
  <input type="submit" value="Create">
</form>

